/*Include Files*/
/*Variable Declarations*/
/*Fonts*/
/*Variable Declarations*/
/*Fonts*/
@font-face {
  font-family: regular;
  src: url(/Fonts/Ubuntu-R.ttf); }

@font-face {
  font-family: bold;
  src: url(/Fonts/Ubuntu-B.ttf); }

@font-face {
  font-family: light;
  src: url(/Fonts/Ubuntu-L.ttf); }

/*Code for panels on rehabilitation page*/
.imagePanel {
  box-shadow: 5px 5px 25px #888; }

.imagePanel > .panel-body {
  padding: 0; }

.imagePanel > .panel-body > img {
  width: 100%;
  height: 100%; }

.imagePanel > .panel-footer {
  text-align: center; }

.addBorder {
  border: 1px solid black; }

/* Nav */
#stepIcon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

#mainNav {
  background-color: #4e3691;
  padding-bottom: 0;
  margin-bottom: 0; }

#rightNav {
  margin: 0 auto; }

#leftNav {
  margin: 0 auto; }

#navStripes {
  max-height: 50px; }

.navbar-default .navbar-nav > li > a {
  padding: 15px 10px; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a {
  background-color: #7457c1;
  /*border-radius: 10px 10px 0 0;
    -moz-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    -moz-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -moz-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -moz-transition-timing-function: ease, ease;
    -o-transition-timing-function: ease, ease;
    -webkit-transition-timing-function: ease, ease;
    transition-timing-function: ease, ease;
    -moz-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;*/ }

/*.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .open > a {
    border-radius: 10px 10px 0 0;
    -moz-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    -moz-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -moz-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -moz-transition-timing-function: ease, ease;
    -o-transition-timing-function: ease, ease;
    -webkit-transition-timing-function: ease, ease;
    transition-timing-function: ease, ease;
    -moz-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}*/
/* Banner */
.banner {
  /*position:fixed;
    top:51px;
    width:100%;
    z-index:1000;
    opacity:1;*/
  margin-top: 0;
  padding-top: 0; }

#bannerMsg {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 15px;
  background-color: #1a1a1a; }

.purp,
a.purp:visited {
  color: #603ec1; }

a.purp:hover,
a.purp:active {
  color: #1f153a;
  text-decoration: none; }

.panel-default > .panel-heading {
  background-color: #e7e4f0; }

#hpsLogo {
  margin: 3px 5px 0 0;
  cursor: pointer;
  padding: 5px; }

#logoWrap {
  height: 51px;
  width: 85px; }

#logoWrap:hover {
  background-color: #7457c1; }

.navActive {
  background-color: #250F61; }

/* Body */
body {
  font-family: regular;
  font-size: 14px;
  color: #0e0e0e; }

body p {
  padding: 0 10px; }

blockquote {
  text-indent: 2em; }

body p, body a, body li {
  font-size: 16px; }

h1, h2, h3 {
  font-family: light;
  padding: 0 10px; }

h4, h5, h6 {
  font-family: regular;
  padding: 0 10px; }

label {
  font-weight: 100;
  font-size: 14px; }

#rightNav li a, #rightNav li ul li a,
#leftNav li a {
  font-size: 14px; }

form {
  min-height: 100%;
  position: relative; }

.bodyText {
  text-align: justify; }

#content {
  /* Height of the footer element, 
    event manager page require it to be more*/
  padding-bottom: 80px;
  margin-bottom: 10px; }

/****************** FOOTER ************************/
footer {
  background-color: #e7e4f0;
  width: 100%;
  height: 370px;
  /*position: absolute;
    bottom: 0;
    left: 0;*/ }

#footer-a-header {
  padding: 5px 0 9px 0;
  margin: 20px 0 -20px 0;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #808080; }

.footer-a > div > ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.footer-a > div:first-child ul li {
  display: block; }

.footer-a > div > ul li a:hover {
  text-decoration: underline;
  color: #0251be; }

.footer-a div ul li h2 {
  margin-top: 17px;
  margin-bottom: 5px; }

.footer-a div ul li h2 a {
  font-weight: bold;
  font-size: 14px; }

.footer-a div ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #0e0e0e; }

.footer-a {
  display: block; }

#top {
  display: none; }

#top:hover {
  text-decoration: underline;
  color: #0251be;
  cursor: pointer; }

#contact, #hiddenHours, #hours {
  padding-top: 20px; }

#contact h3, #hiddenHours h3, #hours h3 {
  padding-bottom: 10px; }

#footer-a-header, #contact h3, #hiddenHours h3, #hours h3 {
  font-size: 17px !important; }

#contact h3, #hours h3, #hiddenHours h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
  border-bottom: 1px solid #808080; }

#contact h4, #hours h4 {
  font-weight: bold;
  font-size: 16px; }

#contact p, #hours p {
  font-size: 14px;
  text-indent: 0;
  color: #0e0e0e; }

#contact a {
  font-size: 14px; }

#contact h5 {
  font-size: 16px; }

#hours h6 {
  font-weight: bold;
  font-style: italic; }

.contact p {
  text-indent: 0; }

#normalCopyright {
  position: absolute;
  bottom: 10px;
  left: 0; }

#accordion {
  display: none; }

.accordion {
  font-weight: bold; }

.accordion a:hover, .accordion li a:hover {
  text-decoration: underline;
  color: #0251be; }

.accordion li {
  list-style-type: none;
  font-weight: normal;
  color: #3e3c3c; }

.accordion li a {
  list-style-type: none;
  color: #3e3c3c; }

#copyright {
  color: #0e0e0e;
  padding-top: 10px;
  font-size: 14px; }

/* Email and Call links on footer and contact page */
.mail {
  text-decoration: none;
  color: #0e0e0e; }

.mail:hover, .call a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #0251be; }

.callOff {
  text-decoration: none;
  color: #0e0e0e;
  cursor: default; }

/*************** END FOOTER ****************/
.removePadding {
  padding: 0; }

.carousel-inner {
  background-color: #000; }

.carousel-inner img {
  margin: auto;
  max-height: 640.672px; }

.calendar {
  width: 100%; }

.calendar-height {
  max-height: 600px; }

#upCalendar > table > tbody > tr > td > a {
  padding-left: 5px; }

#upCalendar {
  box-shadow: -1px 1px 5px #888888; }

#Body_EventCalendar > tbody > tr > td > a {
  padding-left: 5px; }

#Body_EventCalendar {
  box-shadow: -1px 1px 5px #888888; }

.calendar > tbody > tr:first-child {
  background: linear-gradient(#4e3691, #250F61);
  height: 40px; }

.calendar > tbody > tr:first-child > td > a {
  padding: 10px;
  color: #FFF !important; }

.calendar > tbody > tr:first-child > td {
  color: #FFF !important; }

.partner:hover {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2); }

#sortable > div {
  border-top: 1px solid transparent; }

textarea {
  resize: vertical !important; }

/*NOTIFICATIONS MODAL*/
#mdlNotifications {
  padding-right: 0 !important; }

#mdlNotifications.modal {
  left: auto; }

#mdlNotifications .modal-content {
  height: 89vh !important; }

#mdlNotifications .modal-dialog {
  height: 89vh !important;
  width: 100%;
  margin-bottom: 0; }

#mdlNotifications .modal-header {
  height: 57px; }

#notifyBody {
  overflow-y: auto;
  height: 74vh; }

#mdlNotifications .modal-footer {
  height: 87px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: white; }

#mdlNotifications.modal.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  -moz-transform: translate3d(25%, 0, 0);
  -ms-transform: translate3d(25%, 0, 0);
  -o-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0); }

.darker {
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

.darker:hover {
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

#lbUserName:hover {
  cursor: pointer; }

.overflowFix {
  overflow-y: auto;
  max-height: 100px; }

.opacityNone {
  opacity: 0; }

/* Main Page Popout Ribbon */
#ribbon {
  opacity: 0;
  width: 150px;
  height: 80px;
  position: fixed;
  bottom: 50px;
  left: 0;
  background-color: #4e3691;
  display: table;
  box-shadow: 10px 10px 25px #888888; }

#ribbon > a {
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle; }

/* Assistance & Settings Modal (Main Page) Style*/
#AssistanceModal_NavTabs li.active a,
#SettingsModal_NavTabs li.active a {
  border-radius: 10px 10px 0 0;
  background-color: #EEE; }

#AssistanceModal_NavTabs li.active a,
#SettingsModal_NavTabs li.active a {
  color: #333; }

#AssistanceModal_NavTabs a,
#SettingsModal_NavTabs a {
  border: 1px #e3e3e3 solid;
  border-radius: 10px 10px 0 0;
  background-color: #4e3691;
  color: #FFF; }

#AssistanceModal_NavTabs a:hover,
#SettingsModal_NavTabs a:hover {
  background-color: #1f153a;
  border: 1px #e3e3e3 solid; }

.folder {
  height: 100%;
  border-radius: 5px 5px 0 0;
  border: 1px #AFAFAF solid;
  box-shadow: 2px 2px 5px #afafaf; }

.shadow-up-bro {
  box-shadow: 2px 2px 5px #afafaf; }

.activePanel {
  background-color: #1f153a !important;
  color: white !important; }

.activePanel h4 a:focus, .activePanel h4 a:hover {
  background-color: #1f153a !important;
  color: white !important;
  text-decoration: none; }

.carousel {
  border: 1px solid black; }

.carousel-max-height {
  max-height: 420px; }

.add-20-pix-padding-bottom {
  padding-bottom: 20px; }

.fix-border-right {
  border-right: 1px solid #AFAFAF; }

.hide-me {
  display: none; }

