/* CARD FLIP */
@import '../global/Mixins.scss';
@import '../global/Variables.scss';

/*$complimentColor: #D3A33E;

//this hides the content container from master
#content {
    display: none;
}
#outerBox {
    width: 100vw;
    height: 95vh;
}
#innerBox{
    background-color:$complimentColor;
}*/

#weBelieve li {
    margin-bottom:10px;
    font-size:14px;
}