@import "Variables.scss";

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin rotateY($deg) {
    -moz-transform: rotateY($deg);
    -ms-transform: rotateY($deg);
    -o-transform: rotateY($deg);
    -webkit-transform: rotateY($deg);
    transform: rotateY($deg);
}

@mixin navTabs($id) {
    //Bg of ACTIVE tab
    #{$id} li.active a {
        border-radius: 10px 10px 0 0;
        background-color: #EEE;
        color: $fontGrey;
    }
    //Font Color of NON active tabs
    #{$id} a {
        border: 1px #e3e3e3 solid;
        border-radius: 10px 10px 0 0;
        background-color: $purpleMain;
        color: #FFF;
    }
    //Hover Color of NON active tabs
    #{$id} a:hover {
        background-color: $purpleDark;
        border: 1px #e3e3e3 solid;
    }
}
