/*Variable Declarations*/
$purpleMain: #4e3691;
$purpleMainDarker: #603ec1;
$purpleHover: #7457c1;
$purpleLight: #8E7CC3;
$purpleMedium: #250F61;
$purpleDark: #1f153a;
$purpleFooter: #e7e4f0;
$greyLight: #808080;
$greyMedium: #3e3c3c;
$greyDark: #0e0e0e;
$blueMedium: #0251be;

/*Fonts*/
$r-font: regular;
$l-font: light;
$b-font: bold;

$f-norm: 14px;
$f-med: 16px;
$f-lg: 20px;
$text: #0e0e0e;
$fontGrey: #333;

